
/* ----------- default Styles---------- */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #FF900E;
    --secondary-color: #727272;
}

body{
    font-family: 'Work Sans', sans-serif;
}


/* ---------------------- 
       Header Styles 
------------------------*/
.header-container {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 0 150px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 50px 0;
}

.logo{
    font-size: 2em;
}

.nav-link a{
    text-decoration: none;
    padding: 0 10px;
    font-size: 1em;
}

.banner{
    text-align: center;
    margin-bottom: 20px;
}

.banner-heading{
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 20px;
}

.banner-text{
    font-size: 1em;
    text-align: center;
    padding-bottom: 20px;
    color: var(--secondary-color);
}

.btn-primary{
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    font-size: 1em;
    font-weight: 600;
}

.banner-img img{
    width: 100%;
    margin-bottom: 20px;
}

/* ------------Features Section ---------*/
.main-section{
    width: 1120px;
    margin: 0 auto;
}
.features-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-bottom: 80px;
}

.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
}

.feature-info{
    padding-left: 50px;
}

.feature-black {
    color: black;
    font-weight: 700;
}

.feature-color {
    color: var(--primary-color);
    font-weight: 700;
}
.feature-heading {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.75em;
    padding-bottom: 20px;
}

.feature-text {
    font-size: 1em;
    padding-bottom: 20px;
}

.feature-img img{
    width: 100%;
}

/* -----------------facilities------------ */
.facilities{
    display: flex;
    justify-content: space-between;
}

.facility{
    width: 70%;
    padding-right: 120px;
}
.facility-image img{
    width: 100%;
}

.facility-heading{
    font-size: 2.5em;
    padding: 10px;
    border-left: 4px solid var(--primary-color);
    margin-bottom: 20px;
}

.facility-text{
    color: var(--secondary-color);
    font-size: 1em;
    margin-bottom: 20px;
}


.facility-items{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.facility-item{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
    padding: 15px;
    border-radius: 10px;
}

.facility-item p{
    font-size: 0.9em;
}

.facility-item h4{
    font-size: 1.2em;
    padding-bottom: 10px;
}

.experience {
    position: absolute;
    bottom: -1380px;
    left: 730px;
    padding: 20px 50px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    color: white;
}

.experience span{
    font-size: 3em;
}