
/* ----------- default Styles---------- */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #FF900E;
    --secondary-color: #727272;
}

body{
    font-family: 'Work Sans', sans-serif;
}


/* ---------------------- 
       Header Styles 
------------------------*/
.header-container {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 0 150px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 50px 0;
}

.logo{
    font-size: 2em;
}

.nav-link a{
    text-decoration: none;
    padding: 0 10px;
    font-size: 1em;
}

.banner{
    text-align: center;
    margin-bottom: 20px;
}

.banner-heading{
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 20px;
}

.banner-text{
    font-size: 1em;
    text-align: center;
    padding-bottom: 20px;
    color: var(--secondary-color);
}

.btn-primary{
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    font-size: 1em;
    font-weight: 600;
}

.banner-img img{
    width: 100%;
    margin-bottom: 20px;
}

/* ------------Features Section ---------*/
.main-section{
    width: 1120px;
    margin: 0 auto;
}
.features-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-bottom: 80px;
}

.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
}

.feature-info{
    padding-left: 50px;
}

.feature-black {
    color: black;
    font-weight: 700;
}

.feature-color {
    color: var(--primary-color);
    font-weight: 700;
}
.feature-heading {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.75em;
    padding-bottom: 20px;
}

.feature-text {
    font-size: 1em;
    padding-bottom: 20px;
}

.feature-img img{
    width: 100%;
}

/* -----------------facilities------------ */
.facilities-container{
    margin-bottom: 70px;
}

.facilities{
    display: flex;
    justify-content: space-between;
}

.facility{
    width: 70%;
    padding-right: 120px;
}
.facility-image img{
    width: 100%;
}

.facility-heading{
    font-size: 2.5em;
    padding: 10px;
    border-left: 4px solid var(--primary-color);
    margin-bottom: 20px;
}

.facility-text{
    color: var(--secondary-color);
    font-size: 1em;
    margin-bottom: 20px;
}


.facility-items{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.facility-item{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
    padding: 15px;
    border-radius: 10px;
}

.facility-item p{
    font-size: 0.9em;
    color: var(--secondary-color);
}

.facility-item h4{
    font-size: 1.2em;
    padding-bottom: 10px;
}

.experience {
    position: absolute;
    bottom: -1380px;
    left: 730px;
    padding: 20px 50px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    color: white;
}

.experience span{
    font-size: 3em;
}

/* facts-details--------------- */
.facts-details{
    width: 40%;
}
.facts-heading{
    font-size: 1.6em;
    margin-bottom: 10px;
}

.facts-text{
    margin-bottom: 50px;
}

.fact-boxes{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.fact-box{
    border: 1px solid var(--primary-color);
    width: 170px;
    height: 120px;
    padding: 20px;
    border-radius: 5px;
}

.fact-box img{
    margin-bottom: 10px;
}

.fact-box h2{
    margin-bottom: 15px;
    font-size: 1.5em;
}

.fact-box p{
    color: var(--secondary-color);
}

/* sponspors-------------- */
.sponspors-info{
    margin-top: 80px;
}

.sponspors-details{
    text-align: center;
}

.sponspors-details h2{
    font-size: 1.6em;
    margin-bottom: 20px;
}

.sponspors-details p{
    color: var(--secondary-color);
    margin-bottom: 20px;
    padding: 0 250px;
}

.sponspors-list{
    display: flex;
    justify-content: space-evenly;
}

.sponspors-list img{
    width: 60%;
    margin-top: 20px;
}

/* footer------------ */


.footer-container {
    margin-bottom: 70px;
}


.footer-note{
    height: 70px;
    margin: 40px 0px 100px ;
    border-radius: 5px;
    background-color: rgba(255, 144, 14, 0.1);
        margin: 0 150px;
}
.footer-note p{
   text-align: center;
   padding-top: 25px;
   color: var(--secondary-color);
}

/* contact page for bonus mark */
/* future  */

.future-section {
    display: flex;
    gap: 250px;
    background-color: rgba(255, 144, 14, 0.1);
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 50px;
    border-radius: 5px;
}

.future-container {
    line-height: 30px;
}

.future-title {
    font-size: 40px;
    font-weight: 700;
}

.subscirbe-panel {
    text-align: left;
    line-height: 40px;
    padding-right: 100px;
}

.subscribe-panel,
input {
    padding: 10px 50px;
    font-size: 20px;
    margin: 20px 0;
    background: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

/* Mobile Device */

@media only screen and (max-width:576px) {
    .header-container{
        padding: 0;
    }
    .nav-link a{
        display: block;
        padding-top: 10px;
    }

    .navbar{
        flex-direction: column;
    }

    .features-container{
        flex-direction: column;
    }

    .features {
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-img{
        max-width: 100%;
    }

    .footer-note{
        margin: 0 auto;
    }
    .hide{
        display: none;
    }
    
}